* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000000;
  font-family: 'Work Sans', 'Roboto Slab', 'Quicksand', 'Amita','Dancing Script','Fondamento', 'Kalam', serif;
  font-size: 1rem;
  line-height: 1.3;
}

h1 {
  font-family: 'Fondamento';
  font-weight: bold;
  font-size: 4rem;
  margin: 0px;
  color: #9B0000;
}

h2,
h3 {
  font-family: 'Fondamento';
  font-weight: bold;
  color: #001758;
}

h2 {
  padding-left: 20px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #9B0000;
}

ul {
  list-style: url(../assets/circle.svg);
}

section {
  padding-top: 30px;
  margin-bottom: 70px;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0px auto;
}

.small-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1240px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0px;
  padding: 0px 100px;
  background: url(../assets/img/BG.jpg) no-repeat top center;
  background-size: cover;
  border-bottom: 1px solid rgba(0, 23, 88, 0.2);
  z-index: 10;
}

.logo {
  font-family: 'Fondamento';
  font-size: 1.2rem;
  font-weight: bold;
  color: #9B0000;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav__item {
  padding: 0px 10px;
  border-right: 1px solid rgba(0, 23, 88, 0.2);
  cursor: pointer;
}

.nav__item:last-child {
  padding-right: 0;
  border-right: none;
}

.nav__item:hover {
  color: rgba(0, 23, 88, 0.2);
}

.main {
  padding: 10px 80px;
  background: url(../assets/img/BG.jpg) repeat top center;
  background-size: cover;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 40px;
}

.hero-title {
  text-align: center;
  width: 70%;
}

.hero-subtitle__text {
  margin: 0px;
}

.hero-avatar__img {
  width: 75%;
  border-radius: 48%;
}

.tc {
  font-style: italic;
}

.contacts {
  padding-left: 20px;
}

.contacts-list {
  padding: 0px;
}

.contacts-list li {
  list-style: none;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: #9B0000;
}

.skills-list {
  padding-left: 20px;
}

.languages-list {
  padding-left: 20px;
}

.add-ed__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-ed__item img {
  margin: 10px 0px 20px 0px;
  max-width: 500px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  padding: 0px 100px;
  color: #ffffff;
  background: #9B0000;
}

.footer__img {
  width: 160px;
}

.footer__link {
  color: #ffffff;
}

.footer__link:hover {
  color: #ffffff;
}
